body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.navbar {
	border-radius: 0px;
	border: none;
}
.navbar-default {
	background-color: orange;
}
ul.nav {
	margin: 0 -15px;
	background-color: white;
	text-align: center;
}
ul.nav li {
	margin: 0;
}
hr {
	margin: 0;
}
a.navbar-brand {
	font-size: 2em;
}

.navbar-toggle {
	background-color: none;
	border: none;
} 

section div.container-fluid {
	background-color: #888;
	margin: 50px 10%;
	padding: 20px 10%;
	min-height: 1000px;
}

div.text-center {
	margin-top: 40px;
}
h3.text-center {
	margin-bottom: 20px;
}